@model ToDoList.Models.ToDo

@{
    ViewBag.Title = "Edycja notatki";
}

@section Stylesheet {
    <link href="@Url.Content("~/Content/CSS/jquery.datetimepicker.css")" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="content">
                    <div class="header">
                        <p class="lead" style="text-align: center;">Edytuj notatkę</p>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Created_at, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Created_at, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Created_at, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <input type="hidden" class="form-control" id="User_id" name="User_id" value="@Session["Id"]">

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Zapisz zmiany" class="btn btn-default">
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Javascripts {
    <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")"></script>
    <script>
        $(function () {
            $('.datepicker-start').datetimepicker({
                format: 'd.m.Y H:m:00',
                minDate: 0,
            });

            $('.datepicker-emd').datetimepicker({
                format: 'd.m.Y H:m:00',
            });

        });
    </script>
}