@model IEnumerable<ToDoList.Models.ToDo>
@{
    ViewBag.Title = "Strona główna";
}

@section Stylesheet {
    <link href="@Url.Content("~/Content/CSS/monthly.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    To-Do List
                </h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                @if (!Model.Any())
                {
                    <div class="alert alert-info">
                        Brak notatek do wyświetlenia.
                    </div>
                }
                else
                {
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Label)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Start_at)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.End_at)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created_at)
                        </th>
                        <th>Akcja</th>
                    </tr>

                    @foreach (var item in Model)
                    { 
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Label)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_at)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm delete-task" })
                        </td>
                    </tr>
                    }
                </table>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">My Tasks</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled task-list">
                    <li>
                        <p>Updating Users Settings <span class="label-percent">23%</span></p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width:23%">
                                <span class="sr-only">23% Complete</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Load &amp; Stress Test <span class="label-percent">80%</span></p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Data Duplication Check <span class="label-percent">100%</span></p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">Success</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Server Check <span class="label-percent">45%</span></p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span class="sr-only">45% Complete</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Mobile App Development <span class="label-percent">10%</span></p>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                <span class="sr-only">10% Complete</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Calendar</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div style="max-width: 100%;display:inline-block;">
                    <div class="monthly" id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScripts {
    <script src="@Url.Content("~/Scripts/calendar.js")"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').monthly({
                mode: 'event',
                jsonUrl: 'events.json',
                dataType: 'json'
            });

            $('.delete-task').click(function (e) {
                if (!window.confirm("Czy na pewno chcesz usunąć zadanie?")) {
                    e.preventDefault();
                }
            });
        });
    </script>
}